extends ../../layouts/base.jade
block head
  title DC/OS Releases
block content
  .container.container--dark-background
    +header
    .container__content
      h1 DC/OS Releases
      p 
        | Find and download any release of DC/OS, which is 100% open source. For DC/OS Enterprise releases, please contact 
        a(href='https://mesosphere.com/pricing/') Mesosphere sales.
  .outer-container.bg-white.clearfix.py5.px2
    .row
      .max-width-4.mx-auto

        h2.heading-margin-bottom.center.mx-auto Release Channels

        .cards.flex.flex-auto.flex-wrap

          .stable-releases.card.card-content.stable.col-4.relative(style="padding-bottom: 3.75rem;")
            h3.mb0 Stable
            p.release-version.pb1 DC/OS 1.9
            p.hero-list__item__copy__paragraph.release-copy Latest stable release. Ready for production use.
            a.cta.cta--text.release-notes.pb2(href='/releases/1.9.0') Release Notes

            .col-12.flex-end.mt-auto.relative
              div.absolute.dropdown.z-500(style='text-align: left; left: 0; width: 100%;')
                a.btn.btn-primary.mb0.block.center.no-arrow.text-white.bg-heliotrope Get Release
                  img.ml1.align-middle(src='/assets/images/icons/arrow-down-docs-unselected-white.svg' style='margin-top: -2px;')
                ul
                  li: a(href='https://downloads.dcos.io/dcos/stable/aws.html', target='_blank') Amazon Web Services
                  li: a(href='https://downloads.dcos.io/dcos/stable/azure.html', target='_blank') Azure
                  li: a(href='https://downloads.dcos.io/dcos/stable/commit/0ce03387884523f02624d3fb56c7fbe2e06e181b/dcos_generate_config.sh') Direct Download

          .card.card-content.stable.col-4.relative(style="justify-content: inherit; padding-bottom: 3.75rem;")
            h3.mb0 Early Access
            p.release-version.pb1 DC/OS 1.10.0-rc1
            p.hero-list__item__copy__paragraph.release-copy Coming soon!<!-- Upcoming release. Ready for development and testing. -->
            a.cta.cta--text.release-notes.pb2(href='/releases/1.9.0-rc4/') <!-- Release Notes -->

          .master-releases.card.card-content.stable.col-4.relative(style="justify-content: inherit; padding-bottom: 3.75rem;")
            h3.mb0 Master
            p.release-version.pb1 DC/OS master
            p.hero-list__item__copy__paragraph.release-copy.pb2 Bleeding edge automated release. Only tested with automated tests.

            .col-12.flex-end.mt-auto.relative
              div.absolute.dropdown.z-500(style='text-align: left; left: 0; width: 100%;')
                a.btn.btn-primary.mb0.block.center.no-arrow.text-white.bg-heliotrope Get Release
                  img.ml1.align-middle(src='/assets/images/icons/arrow-down-docs-unselected-white.svg' style='margin-top: -2px;')
                ul
                  li: a(href='https://downloads.dcos.io/dcos/testing/master/aws.html', target='_blank') Amazon Web Services
                  li: a(href='https://downloads.dcos.io/dcos/testing/master/azure.html', target='_blank') Azure
                  li: a(href='https://downloads.dcos.io/dcos/testing/master/dcos_generate_config.sh') Direct Download

  each release in locals.releases
    .release(class=release.stable ? 'stable' : '')
      div
      .release-item.max-width-4.mx-auto.flex
        .release-item--date
        .release-item--content
          p.release-date.m0 #{ release.month } #{ release.day }, #{ release.year }
          h3(class=release.stable ? '' : 'mt3') #{ release.title }
          if(release.stable)
            span Stable
          if(release.description)
            p.my1.mb2 #{ release.description }
          if(release.features)
            ul
              each feature in release.features
                li #{ feature }
          if(release.stable)
            a(href!=release.downloadlink target='_blank').btn.btn-primary.inline-block Download
            
          if(release.stable)
            a(href!=release.docslink target='_blank').btn.btn-secondary.inline-block Release notes
          else
            a(href!=release.docslink target='_blank').cta.cta--text.inline-block Release notes →
            
            
  .outer-container.bg-white.clearfix.py5.px2
    .row.flex.flex-column
      .sm-col.sm-col-12.md-col-8.mx-auto.center
        h2.heading-margin-bottom.center.mx-auto Older Versions
        p.center DC/OS Community Edition describes versions 1.6 and earlier, which were free and available from Mesosphere, Inc. but not open source. When Mesosphere open sourced DC/OS on April 19th, 2016, they stopped distributing Community Edition, and versions 1.6 and earlier are no longer available.
                  
  .container.container--dark-background
    .container__content
      h2 Install on any virtual or physical machines.
      a(href='/install').cta.cta--button Install
    +footer
