extends ../../layouts/base.jade
block head
  title DC/OS Releases
block content
  .container.container--dark-background
    +header
    .container__content
      h1 DC/OS Releases

  .outer-container.bg-white.clearfix.py5.px2
    .row
      .max-width-4.mx-auto

        h2.heading-margin-bottom.center.mx-auto Release Channels

        .cards.flex.flex-auto.flex-wrap

          .stable-releases.card.card-content.stable.col-4.relative(style="padding-bottom: 3.75rem;")
            h3.mb0 Stable
            p.release-version.pb1 DC/OS 1.9
            p.hero-list__item__copy__paragraph.release-copy Latest stable release. Ready for production use.
            a.cta.cta--text.release-notes.pb2(href='/releases/1.9.0') Release Notes

            .col-12.flex-end.mt-auto.relative
              div.absolute.dropdown.z-500(style='text-align: left; left: 0; width: 100%;')
                a.btn.btn-primary.mb0.block.center.no-arrow.text-white.bg-heliotrope Get Release
                  img.ml1.align-middle(src='/assets/images/icons/arrow-down-docs-unselected-white.svg' style='margin-top: -2px;')
                ul
                  li: a(href='https://downloads.dcos.io/dcos/stable/aws.html', target='_blank') Amazon Web Services
                  li: a(href='https://downloads.dcos.io/dcos/stable/azure.html', target='_blank') Azure
                  li: a(href='https://downloads.dcos.io/dcos/stable/commit/0ce03387884523f02624d3fb56c7fbe2e06e181b/dcos_generate_config.sh') Direct Download

          .card.card-content.stable.col-4.relative(style="justify-content: inherit; padding-bottom: 3.75rem;")
            h3.mb0 Early Access
            p.release-version.pb1 DC/OS 1.10.0-rc1
            p.hero-list__item__copy__paragraph.release-copy Coming soon!<!-- Upcoming release. Ready for development and testing. -->
            a.cta.cta--text.release-notes.pb2(href='/releases/1.9.0-rc4/') <!-- Release Notes -->

          .master-releases.card.card-content.stable.col-4.relative(style="justify-content: inherit; padding-bottom: 3.75rem;")
            h3.mb0 Master
            p.release-version.pb1 DC/OS master
            p.hero-list__item__copy__paragraph.release-copy.pb2 Bleeding edge automated release. Only tested with automated tests.

            .col-12.flex-end.mt-auto.relative
              div.absolute.dropdown.z-500(style='text-align: left; left: 0; width: 100%;')
                a.btn.btn-primary.mb0.block.center.no-arrow.text-white.bg-heliotrope Get Release
                  img.ml1.align-middle(src='/assets/images/icons/arrow-down-docs-unselected-white.svg' style='margin-top: -2px;')
                ul
                  li: a(href='https://downloads.dcos.io/dcos/testing/master/aws.html', target='_blank') Amazon Web Services
                  li: a(href='https://downloads.dcos.io/dcos/testing/master/azure.html', target='_blank') Azure
                  li: a(href='https://downloads.dcos.io/dcos/testing/master/dcos_generate_config.sh') Direct Download


  .outer-container.bg-white.clearfix.pb2.px2
    .row
      .max-width-4.mx-auto
        h2.heading-margin-bottom.center.mx-auto.mt3 Release Versions

  each release in locals.releases
    .release(class=release.stable ? 'bg-gray' : '')
      div
      .release-item.max-width-4.mx-auto.flex
        .release-item--date
          p.m0 #{ release.month } #{ release.day }, #{ release.year }
        .release-item--content
          if(release.stable)
            span Stable
          h3(class=release.stable ? '' : 'mt3') #{ release.title }
          p #{ release.description }
          if(release.features.length > 0)
            ul
              each feature in release.features
                li #{ feature }
          a(href!=release.downloadlink target='_blank').btn.btn-primary.inline-block Download #{ release.title }
          a(href!=release.docslink target='_blank').btn.btn-secondary.inline-block Read documentation
              
  .container.container--dark-background
    .container__content
      h2 Install on any virtual or physical machines.
      a(href='/install').cta.cta--button Install
    +footer
